h1{
    color: #808080;
    text-align: 'center';
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding:15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}

body{
    margin: 0px;
    background-color: #f2f7f2;
}

.grid{
    display: flex;
    flex-wrap: wrap;
}

.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}

.origami{
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: fantasy;
}

a:link{
    color: white;
}
a:visited{
    color: thistle;
}

.origami:hover{
    transform:scale(1.2);
}

.bodyimage{
    position:relative;
}
.bodyimage p{
    color: whitesmoke;
    font-size: 55px;
    font-family: fantasy;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bodyimage h3{
    color: whitesmoke;
    font-size: 20px;
    font-family: fantasy;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
